<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.huqi.smartopencvdemo"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:authorities="com.android.launcher2.settings"
        android:excludeFromRecents="true"
        android:exported="true"
        android:icon="@drawable/icon2_conew1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service android:name=".service.TraceServiceImpl" />

        <service
            android:name="tech.huqi.smartopencvdemo.service.MyService"
            android:enabled="true"
            android:exported="false" />


        <!--引入shortcuts资源-->
        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />


        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:label="@string/app_name"> <!--android:screenOrientation="landscape"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".service.ServiceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:label="@string/app_name"> <!--android:screenOrientation="landscape"-->
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.ServiceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".opencv.FdActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:label="@string/app_name"> <!--android:screenOrientation="landscape"-->
        </activity>
        <activity
            android:name=".opencv.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:label="@string/app_name"> <!--android:screenOrientation="landscape"-->
        </activity>
        <activity
            android:name=".opencv.ViewDataActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:label="@string/app_name"> <!--android:screenOrientation="landscape"-->
        </activity>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />
</manifest>